{# src/Cloudy/Bundle/CrudBundle/Resources/views/Page/contact.html.twig #}
{% extends 'CloudyCrudBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact cloudyblog</h1>
    </header>

    <p>Want to contact cloudy'a author?</p>
{% endblock %}