{# src/Cloudy/Bundle/CrudBundle/Resources/views/Page/cssselector.html.twig #}
{% extends 'CloudyCrudBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/cloudy/public/css/cssselector.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}CssSelector{% endblock %}

{% block body %}
    <header>
        <h1>Hi Everyone! Here's the one famous CssSelector! </h1>
    </header>
    <article>
        <p>
            
		</p>
    </article>
{% endblock %}