{# src/Cloudy/Bundle/CrudBundle/Resources/views/Page/dom.html.twig #}
{% extends 'CloudyCrudBundle::layout.html.twig' %}

{% block title %}DOMYml{% endblock%}

{% block body %}
    <header>
        <h1>Yo, yo, I'm analyzing your domxml</h1>
    </header>
    <article>
        <p>
        Hello
		</p>
    </article>
{% endblock %}