{# src/Cloudy/Bundle/CrudBundle/Resources/views/Page/cssselector.html.twig #}
{% extends 'CloudyCrudBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/cloudy/public/css/goutte.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Goutte{% endblock %}

{% block body %}
    <header>
        <h1>Goutte!!! </h1>
    </header>
    <article>
        <p>

		</p>
    </article>
{% endblock %}