{# src/Cloudy/Bundle/CrudBundle/Resources/views/Page/plantscalculator.html.twig #}
{% extends 'CloudyCrudBundle::layout.html.twig' %}

{% block title %}Plants Calculator{% endblock%}

{% block body %}
    <header>
        <h1>Calculate your plants!</h1>
    </header>
    <article>
        <p>You need plants? Now you can calculate what you need exactly!</p>
    </article>
{% endblock %}