{# src/Cloudy/Bundle/CrudBundle/Resources/views/Page/plantscalculator.html.twig #}
{% extends 'CloudyCrudBundle::layout.html.twig' %}

{% block title %}Plants Calculator{% endblock%}

{% block body %}
    <header>
        <h1>You should paste you data below</h1>
    </header>
    <article>
        <p>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
		</p>
    </article>
{% endblock %}